/* Este repositório base foi criado para te ajudar caso você não saiba como começar. Lembre-se de que o portfólio é a sua carta de apresentação e você deve dar a sua cara. Por isso, convidamos você a personalizá-lo de acordo com o seu estilo e preferências; não se limite apenas ao layout proposto no Figma. */
:root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000; 
    --cor-um: #844153;
    --cor-dois: #997593;
    --cor-tres: #A7A4AD;
    --cor-quatro: #527674;
    --cor-cinco: #193735;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-dois);
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    width: 100%;
    height: 100%;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
    background-color: var(--cor-um);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cabecalho__titulo {
    margin: 0;
    padding: 0 0 0 40px;
    font-size: 24px;
}

/* Navegação */
.navegacao {
    display: flex;
}

.navegacao__lista {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegacao__elemento {
    margin-left: 20px;
}

.navegacao__elemento a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navegacao__elemento a:hover {
    text-decoration: underline;
}
/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center; /* Adicionado */
    flex-direction: row-reverse;

}

.apresentacao__foto {
    border-radius: 15%;
    max-width: 368px;
    width: 50%; /* Adicionado */
    display: flex;
    align-items: center;
    margin: 40px;
    
}

.apresentacao__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Adicionado */
    padding: 40px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
    background: var(--cor-tres);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,-0,0,0.1);
   
    
    
}

.sobre-mim__titulo {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-mim__teto {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}
/*------------------------------ Seção de Habilidades ------------------------------*/

/* Estilos para a seção Habilidades */
.habilidades {
    background-color: var(--cor-tres);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.habilidades__titulo {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.habilidades__lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidades__elemento {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 120px;
    transition: transform 0.3s;
}

.habilidades__elemento:hover {
    transform: scale(1.05);
}

.habilidades__icone {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.habilidades__nome {
    font-size: 1.1em;
    color: #666;
}


/* Estilos para a seção Formação Acadêmica */
.formacao {
    background-color: var(--cor-tres);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.formacao__titulo {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.formacao__lista {
    list-style: none;
    padding: 0;
}

.formacao__elemento {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px;
    transition: transform 0.3s;
}

.formacao__elemento:hover {
    transform: scale(1.05);
}

.formacao__icone {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.formacao__nome {
    font-size: 1.2em;
    color: #333;
    margin: 0;
}

.formacao__detalhe {
    font-size: 1em;
    color: #666;
    margin: 5px 0 0 0;
}


/*------------------------------ Seção de Projetos --------------------------------*/

.projetos {
    background-color: var(--cor-tres);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.projetos__titulo {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.projetos__conteiner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    transition: transform 0.3s;
}

.projetos__conteiner:hover {
    transform: scale(1.05);
}

.projetos__nome {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.projetos__descricao {
    font-size: 1.1em;
    color: #666;
    line-height: 1.6;
}


/*------------------------------ Seção de Contato ---------------------------------*/

/* Estilos para a seção de contato */
.contato {
    background-color: var(--cor-quatro);
    padding: 50px 20px 40px 20px;
    text-align: center;
    position: relative;
    left: 0;
    
}

.contato__titulo {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contato__formulario {
    max-width: 600px;
    margin: 0 auto;
}

.contato__campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contato__campo--textarea {
    height: 150px;
    resize: vertical;
}

.contato__botao {
    background-color: var(--cor-um);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.contato__botao:hover {
    background-color: var(--cor-cinco);
}


/* ------------------------------Rodapé ------------------------------------------------*/

/* Estilos para o rodapé */
.rodape {
   
    background-color: var(--cor-cinco);
    color: white;
    padding: 20px 0;
    text-align: center;
    max-width: auto;
}

.rodape__subtitulo {
    font-size: 1em;
    margin: 0;
}

/* ------------------------------ Responsividade ---------------------------------------*/



@media (max-width: 768px) {
    .cabecalho {
        width: 100%;
    }

    .cabecalho__titulo {
        font-size: 20px;
        align-items: center;
    }

    .navegacao {
        flex-direction: column;
        width: 100%;
    }

    .navegacao__lista {
        flex-direction: column;
        width: 100%;
    }

    .navegacao__elemento {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navegacao__elemento a {
        font-size: 16px;
        display: none;
    }

    .apresentacao {
        flex-direction: column;
    }

    .apresentacao__foto, .apresentacao__conteiner {
        width: 100%;
        padding: 40px;
    }

    .sobre-mim {
        width: 100%;
        padding: 40px;
    }

    .sobre-mim__titulo {
        font-size: 1.5em;
    }

    .sobre-mim__teto {
        font-size: 1em;
    }

    .habilidades {
        width: 100%;
    }

    .habilidades__elemento {
        width: 100px;
        padding: 5px;
    }

    .formacao {
        width: 100%;
    }

    .formacao__elemento {
        flex-direction: column;
        align-items: flex-start;
    }

    .formacao__icone {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .formacao__nome {
        font-size: 1.1em;
    }

    .formacao__detalhe {
        font-size: 0.9em;
    }

    .projetos {
        width: 100%;
    }

    .projetos__conteiner {
        width: 100%;
        padding: 10px;
        
    }

    .projetos__nome {
        font-size: 1.2em;
    }

    .projetos__descricao {
        font-size: 1em;
    }

    .contato {
        width: 100%;
        padding: 30px 20px;
    }

    .contato__titulo {
        font-size: 1.5em;
    }

   

    .contato__campo {
        font-size: 0.9em;
    }

    .contato__botao {
        font-size: 0.9em;
    }

    .rodape {
        padding: 15px 0;
        width: 100%;
    }

    .rodape__subtitulo {
        font-size: 0.9em;
    }
}

@media (max-width: 650px) {
    .cabecalho {
        padding: 10px 20px;
        margin-right: 0;
        
    }

    .cabecalho__titulo {
        font-size: 18px;
        
    }

    .navegacao__elemento a {
        font-size: 14px;
        display: none;
    }

    .apresentacao__foto, .apresentacao__conteiner {
        padding: 10px;
    }

    .sobre-mim {
        padding: 20px;
    }

    .sobre-mim__titulo {
        font-size: 1.2em;
    }

    .sobre-mim__teto {
        font-size: 0.9em;
    }

    .habilidades__elemento {
        width: 80px;
        padding: 5px;
    }

    .formacao__icone {
        width: 60px;
        height: 60px;
    }

    .formacao__nome {
        font-size: 1em;
    }

    .formacao__detalhe {
        font-size: 0.8em;
    }

    .projetos__conteiner {
        padding: 5px;
    }

    .projetos__nome {
        font-size: 1em;
    }

    .projetos__descricao {
        font-size: 0.9em;
    }

    .contato {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }

    .contato__titulo {
        font-size: 1.2em;
    }

    .contato__campo {
        font-size: 0.8em;
        
    }

    .contato__botao {
        font-size: 0.8em;
    }

    .rodape {
        padding: 10px 20px;
        width: 100%;
    }

    .rodape__subtitulo {
        font-size: 0.8em;
    }
}      
   

